@import "variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  color: $black_color;
}

/* Works on Firefox */
* {
  scrollbar-width: 100px !important;
  scrollbar-color: $orange $gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $gray;
}

*::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 20px;
}


