@mixin main_gradient {
  background: #21272c;
  background: -webkit-linear-gradient(-45deg, #2d3134 0%, #21272c 100%);
  background: -moz-linear-gradient(-45deg, #2d3134 0%, #21272c 100%);
  background: -o-linear-gradient(-45deg, #2d3134 0%, #21272c 100%);
  background: -ms-linear-gradient(-45deg, #2d3134 0%, #21272c 100%);
}

@mixin translateX($value) {
  transform: translateX($value);
}

@mixin translateY($value) {
  transform: translateY($value);
}

@mixin indicator() {
  width: 50px;
  height: 20px;
  transform: translateX(-30px);
  background: $gray;
  border-radius: 10px;
  transition: 1s;
  z-index: 3;
}

@mixin section_title() {
  h1,
  p {
    text-transform: uppercase;
    text-align: center;
  }
  h1 {
    font-size: 30px !important;
    transform: translateY(-40px);
    transition: transform 1s;
  }
  p {
    font-size: 16px;
    margin-top: 5px;
    transform: translateY(-60px);
    transition: transform 1s;
  }
  margin-bottom: 50px;
}

@mixin input() {
  height: 60px;
  width: 230px;
  border-radius: 30px;
  background: rgba($white, 0.5);
  border: none;
  outline: none;
  padding: 0 25px;
  color: white;
}

@mixin button() {
  height: 60px;
  width: 230px;
  background: $blue_gradient;
  color: $white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba($light_blue, 0.1);
  background-size: 400% 400%;
  background-position: 0% 50%;
  transition: opacity 0.2s, transform 2s;
  animation: button_gradient 10s infinite linear;

  &:hover {
    box-shadow: 0px 10px 20px rgba($light_blue, 0.5);
    transform: scale(1.1) !important;
  }
}

@mixin line_button {
  display: block;
  height: 60px;
  width: 330px;
  margin: 0 auto;
  border-radius: 30px;
  background: linear-gradient(45deg, $white, $white, $light_blue, $dark_blue);
  background-size: 400% 400%;
  background-position: 0 50%;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 0.75s;
  outline: none;

  &:hover {
    background-position: 100% 50%;
    box-shadow: 0px 10px 20px rgba($light_blue, 0.6);
    color: $white;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(45deg, $light_blue, $dark_blue);
    border-radius: 30px;
    z-index: -1;
  }
}

@mixin screen-1260() {
  @media (max-width: 1260px) {
    @content;
  }
}

@mixin screen-700() {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin screen-500() {
  @media (max-width: 500px) {
    @content;
  }
}
