@import "variables";
@import "mixins";
@import "animations";

.wrapper {
  max-width: 1260px;
  padding: 0 20px;
  margin: auto;
}

#main-section {
  position: relative;
  height: 100vh;
  min-height: 800px;
  @include main_gradient;
  overflow: hidden;

  header {
    position: relative;
    z-index: 3;
    background: $white;
    height: 90px;
    @include translateY(-90px);
    transition: transform 0.5s;

    .wrapper {
      height: 100%;
    }

    ul {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;

      li {
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .logo {
      max-height: 40px;
    }
  }

  main {
    position: relative;
    z-index: 2;
    height: calc(100% - 90px);
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      // align-items: center;
    }

    h1,
    h2 {
      text-transform: uppercase;
      color: $white;
      @include translateX(50px);
      transition: 0.6s;
      opacity: 0;
    }
    h1 {
      font-weight: $extrabold;
      font-size: 60px;
    }

    h2 {
      font-weight: $light;
      font-size: 20px;
    }

    .blocks {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;
      max-width: 650px;
      margin: 56px 0;

      .block {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-row: auto auto;
        justify-content: start;
        width: fit-content;
        opacity: 0;
        @include translateX(50px);
        transition: 0.7s;

        &__indicator {
          height: 20px;
          width: 20px;
          @include round_out(10px);
          background: $gray;
          margin-right: 14px;
          transition: 0.5s;
        }

        p {
          font-size: 18px;
          grid-column: 2/3;
          align-self: start;
          justify-self: start;
        }

        span {
          font-size: 15px;
          color: rgba($text_color, 0.7);
          margin-top: 13px;
          grid-column: span 2;
          max-width: 250px;
          line-height: 1.4em;
        }
        padding: 18px 22px;
        background: $white;
        @include round_out(20px);
      }
    }

    button {
      height: 60px;
      width: 230px;
      background: $blue_gradient;
      color: $white;
      font-size: 16px;
      border: none;
      cursor: pointer;
      @include round_out(30px);
      box-shadow: 0px 0px 20px rgba($light_blue, 0.1);
      background-size: 400% 400%;
      background-position: 0% 50%;
      transition: opacity 0.2s, transform 2s;
      animation: button_gradient 10s infinite linear;
      opacity: 0;
      // @include translateX(500px);
      transform: translateX(500px) scale(1);

      &:hover {
        box-shadow: 0px 10px 20px rgba($light_blue, 0.5);
        transform: scale(1.1) !important;
      }
    }
  }

  .wave {
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 5;
    animation: translate_wave 60s infinite linear;
    // animation-delay: 2s;
  }

  .bg-coins {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateY(-100%);
    transition: 2s;

    img {
      position: absolute;
      max-width: 400px;
      transition: 0.5s;
    }

    img:nth-child(1) {
      top: -90px;
      right: 0;
      animation: rotate_coin_1 5s infinite linear;
      animation-delay: 2s;
    }

    img:nth-child(2) {
      top: 90px;
      right: 300px;
      animation: rotate_coin_1 7s infinite linear;
      animation-delay: 2s;
    }

    img:nth-child(3) {
      right: 0;
      bottom: 90px;
      animation: rotate_coin_1 4s infinite linear;
      animation-delay: 2s;
    }
    img:nth-child(4) {
      right: 260px;
      bottom: -90px;
      animation: rotate_coin_1 8s infinite linear;
      animation-delay: 2s;
    }
  }
}

#second-section {
  padding: 100px 0;

  .wrapper {
    display: flex;
    overflow: hidden;
    .imgs_container {
      margin-top: 65px;
      transform: translateX(-1000px);
      width: fit-content;
      position: relative;
      transition: 1s;
      .main {
        max-width: 500px;
      }

      .dollar,
      .euro {
        max-width: 60px;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s;
        animation: translate_coins 2s infinite linear;
      }

      .dollar {
        right: 165px;
        bottom: 220px;
        animation-delay: 1s;
      }

      .euro {
        right: 55px;
        top: 115px;
        animation-delay: 2s;
      }
    }

    main {
      margin-left: 20px;
      .title {
        text-transform: uppercase;
        h1,
        p {
          position: relative;
        }
        h1 {
          font-weight: $semibold;
          font-size: 30px;
          color: $text_color;
          background: $white;
          z-index: 4;
        }
        p {
          font-size: 15px;
          transform: translateY(-40px);
          margin-top: 10px;
          z-index: 3;
          color: rgba($text_color, 0.6);
          transition: 1s;
        }
      }
      .quality {
        margin-top: 42px;
        &__item {
          display: grid;
          grid-template-columns: auto auto 1fr;
          grid-template-rows: auto auto;
          align-items: center;
          margin-bottom: 30px;

          &-indicator {
            width: 50px;
            height: 20px;
            transform: translateX(-30px);
            background: $gray;
            border-radius: 10px;
            transition: 1s;
            z-index: 3;
          }

          img {
            position: relative;
            transition: transform .5s;
            z-index: 2;
            margin: 15px;
            transform: translateX(-40px);
          }

          span {
            display: block;
            font-size: 22px;
            font-weight: $semibold;
            white-space: nowrap;
            height: 23px;
            width: 0;
            overflow: hidden;
            transition: width .5s;
          }

          p {
            grid-column: span 3;
            color: rgba($text_color, 0.6);
            transition: .5s;
            opacity: 0;
          }
        }
      }
    }
  }
}
