// colors
$orange: #ffc680;
$white: #ffffff;
$text_color: #2d3134;
$gray: #d0d0d0;
$light_blue: #22cbd5;
$dark_blue: #007994;

//gradients
$blue_gradient: linear-gradient(-45deg, #1fcfa5, #039a76, #22cbd5, #007994);

//font weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black_fw: 900;

$main_gradient: -moz-linear-gradient(100deg, #2d3134 0.75%, #21272c 100%);
